p {
font-family: 'BenchNine', sans-serif;



}


body {
    background-image: url("../images/starwars_background.jpg");
    background-repeat: no-repeat;;
  /*background-position: center;*/
    background-attachment: fixed;
    width: 100%;
    background-color: #cccccc;
    /*font-size: 60px;*/
  /*line-height: 70px;*/
    font-family: 'Permanent Marker', cursive, 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0 auto;
    /*color: #771;*/
}

h1 {
	font-family: 'Audiowide', cursive, 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	font-size: 400%;
	/*line-height: 70px;*/
	font-weight: 700;
	margin: 5px;
	color: #771;

}

h2 {
	font-family: 'Audiowide', cursive, 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: left;
	font-size: 100%;
	/*line-height: 40px;*/
	font-weight: 300;
	margin: 5px;
	color: #771;

}

.section-title {
	font-size: 200%;
}

/*if get object to render*/

.character-image {
	padding-right: 16px;
	padding-left: 16px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.character {
	display: inline-block;
}
.character-name {
	text-align: center;
	position: relative; 
   	top: 24px; 

}

.character-health {
	text-align: center;
	position: relative; 
   	bottom: 24px; 
}

img {
	height: 150px;
	width: 150px;
	border-color: green;
	border-width: 1px;
	border-radius: 10px;
	border-style: solid;
	padding: 20px;
	background-color: white;
	margin: 5px;
}

.character:hover {
    background-color: lightblue;
    border-radius: 10px;
}

button {
	border-color: green;
	border-width: 1px;
	border-style: solid;
	background-color: darkblue;
	margin: 10px;
	font-family: 'BenchNine', sans-serif;
	font-size: 30px;
	color: white;
}



.game-section {
    clear: both;
    display: flex;

    text-align: left;
}

.fighters{
	height: 160px;
}

.fighters-text {
    clear: both;
    width: 150px;
    text-align: center;
    font-size: 20px;
    height: 164px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 155px
}

.selected-character {
	margin: 5px;
}

.enemies-to-attack {
	margin: 5px;
}